
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/ServidorJava-ClienteCsharp/SistemaED/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDModel/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDController/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDServices/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaED/dist/
/ServidorJava-ClienteCsharp/SistemaEDModel/dist/
/ServidorJava-ClienteCsharp/SistemaEDController/dist/
/ServidorJava-ClienteCsharp/SistemaEDServices/dist/
/ServidorJava-ClienteCsharp/SistemaED/build/
/ServidorJava-ClienteCsharp/SistemaEDModel/build/
/ServidorJava-ClienteCsharp/SistemaEDController/build/
/ServidorJava-ClienteCsharp/SistemaEDServices/build/
!/ServidorJava-ClienteCsharp/SistemaED/src/java/pe/edu/pucp/sed/lib/mysql-connector-java-8.0.21.jar
!/ServidorJava-ClienteCsharp/SistemaEDModel/src/java/pe/edu/pucp/sed/lib/mysql-connector-java-8.0.21.jar
!/ServidorJava-ClienteCsharp/SistemaEDController/src/java/pe/edu/pucp/sed/lib/mysql-connector-java-8.0.21.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/mysql-connector-java-8.0.21.jar


/SistemaEDInterfaces/SistemaEDInterfaces/obj/
/SistemaEDInterfaces/SistemaEDInterfaces/bin/
/SistemaEDInterfaces/.vs/SistemaEDInterfaces/v16/
/SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-chart-themes-6.16.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-annotation-processors-6.10.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-6.16.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/js-extra-classes.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-fonts-6.16.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-chart-customizers-6.16.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/commons-beanutils-1.9.3.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/javax.servlet-3.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-functions-6.16.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/itext-2.1.7.js7.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/joda-time_2.9.9.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/commons-digester-2.1.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-metadata-6.16.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/jasperreports-custom-visualization-6.10.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/spring-core-5.1.4.RELEASE.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/org.apache.commons.logging_1.2.0.v20180409-1502.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/spring-beans-5.1.4.RELEASE.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/org.jfree.jcommon-osgi_1.0.23.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/org.jfree.chart-osgi_1.0.19.jar
!/ServidorJava-ClienteCsharp/SistemaEDServices/src/java/pe/edu/pucp/sed/lib/org.apache.commons.commons-collections4_4.2.0.jar
!/ServidorJava-ClienteCsharp/SistemaEDController/src/pe/edu/pucp/sed/lib/mysql-connector-java-8.0.21.jar
!/ServidorJava-ClienteCsharp/SistemaED/src/pe/edu/pucp/sed/lib/mysql-connector-java-8.0.21.jar
