/SistemaEvaluacionDesempenho/nbproject/private/
/SistemaEvaluacionDesempenho/build/
/SistemaEvaluacionDesempenho/dist/
/ServidorJava-ClienteCsharp/SistemaEDController/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDModel/nbproject/private/
/ServidorJava-ClienteCsharp/SisstemaED/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaED/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDModel/build/
/ServidorJava-ClienteCsharp/SistemaEDController/build/
/ServidorJava-ClienteCsharp/SistemaED/build/
/ServidorJava-ClienteCsharp/SistemaEDModel/dist/
/ServidorJava-ClienteCsharp/SistemaED/dist/
/ServidorJava-ClienteCsharp/SistemaEDController/dist/
/SistemaEDInterfaces/SistemaEDInterfaces/obj/
/SistemaEDInterfaces/SistemaEDInterfaces/bin/
/SistemaEDInterfaces/.vs/SistemaEDInterfaces/v16/
/ServidorJava-ClienteCsharp/SistemaEDServices/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDServices/dist/
/ServidorJava-ClienteCsharp/SistemaEDServices/build/
/SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/
