/SistemaEvaluacionDesempenho/nbproject/private/
/SistemaEvaluacionDesempenho/build/
/SistemaEvaluacionDesempenho/dist/
/SistemaEDController/nbproject/private/
/SistemaEDModel/nbproject/private/
/SisstemaED/nbproject/private/
/SistemaED/nbproject/private/
/SistemaEDModel/build/
/SistemaEDController/build/
/SistemaED/build/
/SistemaEDModel/dist/
/SistemaED/dist/
/SistemaEDController/dist/
/SistemaEDInterfaces/SistemaEDInterfaces/obj/
/SistemaEDInterfaces/SistemaEDInterfaces/bin/
/SistemaEDInterfaces/.vs/SistemaEDInterfaces/v16/
/ServidorJava-ClienteCsharp/SistemaEDServices/nbproject/private/
/ServidorJava-ClienteCsharp/SistemaEDServices/dist/
/ServidorJava-ClienteCsharp/SistemaEDServices/build/
/SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/