<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="GerenciaWSPortBinding" />
				<binding name="PeriodoWSPortBinding" />
				<binding name="PuestoTrabajoWSPortBinding" />
				<binding name="ObjetivoWSPortBinding" />
				<binding name="CriterioWSPortBinding" />
				<binding name="GerenciaPeriodoWSPortBinding" />
				<binding name="ColaboradorWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
				<binding name="EscalaPeriodoWSPortBinding" />
				<binding name="ReporteWSPortBinding" />
				<binding name="EvaluacionDesempenhoWSPortBinding" />
				<binding name="PesoCriterioWSPortBinding" />
				<binding name="EvaluacionPotencialWSPortBinding" />

			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/GerenciaWS"
                binding="basicHttpBinding" bindingConfiguration="GerenciaWSPortBinding"
                contract="GerenciaWS.GerenciaWS" name="GerenciaWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/PeriodoWS"
                binding="basicHttpBinding" bindingConfiguration="PeriodoWSPortBinding"
                contract="PeriodoWS.PeriodoWS" name="PeriodoWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/PuestoTrabajoWS"
                binding="basicHttpBinding" bindingConfiguration="PuestoTrabajoWSPortBinding"
                contract="PuestoTrabajoWS.PuestoTrabajoWS" name="PuestoTrabajoWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/ObjetivoWS"
                binding="basicHttpBinding" bindingConfiguration="ObjetivoWSPortBinding"
                contract="ObjetivoWS.ObjetivoWS" name="ObjetivoWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/CriterioWS"
                binding="basicHttpBinding" bindingConfiguration="CriterioWSPortBinding"
                contract="CriterioWS.CriterioWS" name="CriterioWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/EvaluacionPotencialWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionPotencialWSPortBinding"
                contract="EvaluacionPotencialWS.EvaluacionPotencialWS" name="EvaluacionPotencialWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/PesoCriterioWS"
                binding="basicHttpBinding" bindingConfiguration="PesoCriterioWSPortBinding"
                contract="PesoCriterioWS.PesoCriterioWS" name="PesoCriterioWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/GerenciaPeriodoWS"
                binding="basicHttpBinding" bindingConfiguration="GerenciaPeriodoWSPortBinding"
                contract="GerenciaPeriodoWS.GerenciaPeriodoWS" name="GerenciaPeriodoWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/ColaboradorWS"
                binding="basicHttpBinding" bindingConfiguration="ColaboradorWSPortBinding"
                contract="ColaboradorWS.ColaboradorWS" name="ColaboradorWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/EscalaPeriodoWS"
                binding="basicHttpBinding" bindingConfiguration="EscalaPeriodoWSPortBinding"
                contract="EscalaPeriodoWS.EscalaPeriodoWS" name="EscalaPeriodoWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/EvaluacionDesempenhoWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionDesempenhoWSPortBinding"
                contract="EvaluacionDesempenhoWS.EvaluacionDesempenhoWS" name="EvaluacionDesempenhoWSPort" />
			<endpoint address="http://54.160.145.128:8080/SistemaEDServices/ReporteWS"
                binding="basicHttpBinding" bindingConfiguration="ReporteWSPortBinding"
                contract="ReporteWS.ReporteWS" name="ReporteWSPort" />
		</client>
	</system.serviceModel>
</configuration>